  <p class="small mt-3 text-center">
    By signing up, you are indicating that you have read and agree to
    the
    <a href="#" class="ps-hero__content__link">Terms of Use</a> and
    <a href="#">Privacy Policy</a>.
  </p>
</html>