<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<body>
  <div class="container">
    <div class="col-md-6 mx-auto text-center">
      <div class="header-title">
        <h1 class="wv-heading--title">Fill your Biodata!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="myform form">
          <form action="" method="post" name="login">
            <div class="form-group">
              <input
                type="text"
                name="fullName"
                class="form-control my-input"
                id="fullName"
                placeholder="Full name"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="Nationality"
                class="form-control my-input"
                id="Nationality"
                placeholder="Nationality"
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                min="0"
                name="Age"
                id="Age"
                class="form-control my-input"
                placeholder="Age"
              />
            </div>
            <div class="text-center">
              <a class="btn btn-primary" href="./user_game" role="button"
                >Create</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
