<%- include('./template/head'); %>
<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<body>
  <div class="container">
    <div class="col-md-6 mx-auto text-center">
      <div class="header-title">
        <h1 class="wv-heading--title">
          Login to The International 2023-DOTA 2!
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="myform form">
          <form action="/" method="post">
            <div class="form-group">
              <input
                type="text"
                name="Username or E-mail"
                class="form-control my-input"
                id="Username"
                placeholder="Username"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                min="5"
                name="Password"
                id="Password"
                class="form-control my-input"
                placeholder="Password"
              />
            </div>
            <div class="text-center">
              <button class="btn btn-primary" type="submit" role="button">
                Login
              </button>
            </div>
            <p class="small mt-3">
              By signing up, you are indicating that you have read and agree to
              the
              <a href="#" class="ps-hero__content__link">Terms of Use</a> and
              <a href="#">Privacy Policy</a>.
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('./template/foot'); %>
