<%- include('./template/head'); %>
<body>
  <div class="container">
    <div class="col-md-6 mx-auto text-center">
      <div class="header-title">
        <h1 class="wv-heading--title">
          Sign Up to The International 2023-DOTA 2!
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="myform form">
          <form action="/" method="post">
            <div class="form-group">
              <input
                type="text"
                name="NIP"
                class="form-control my-input"
                id="id"
                placeholder="NIP"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="Username"
                class="form-control my-input"
                id="Username"
                placeholder="Username"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                name="email"
                class="form-control my-input"
                id="email"
                placeholder="E-mail"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                min="5"
                name="Password"
                id="Password"
                class="form-control my-input"
                placeholder="Password"
              />
            </div>
            <div class="text-center">
              <button class="btn btn-primary" type="submit" role="button">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('./template/foot'); %>
